<script>
    console.log('my-scripts loaded');
    
    function addClapButton(){
        console.log(`addClapButton called`);
        
        document.querySelector('#_main > hr')?.remove();
        document.querySelector('#_main > p')?.remove();
        document.querySelector('#_main > clap-button')?.remove();
        
        var about = document.querySelector('#_main > aside.related.mb4')
                ?.insertAdjacentHTML('beforebegin',
                `<applause-button
                    color={{ site.accent_color | default:'rgb(79,177,186)' }}
                    multiclap=true
                    url=`+window.location.href+` >
                </applause-button>`);
    }

    addClapButton();
</script>

<script>   
    function updatePageState() {
        addClapButton();
    }
    
    var pageState = document.getElementById('_pushState');

    var observer = new MutationObserver(function(mutations) {
        mutations.forEach(function(mutation) {
            if (mutation.type === 'childList') {
                console.log(`pageState mutation detected`);
                updatePageState();
            }
        });
    });

    observer.observe(pageState, { childList: true });
</script>

