// applause-button

applause-button {
  width: 80px;
  height: 80px;
  margin: 0 auto;

  .count-container {
    color: inherit;
  }
}

// Utterances

.utterances {
  max-width: 100%;
}

// Giscus

.giscus, .giscus-frame {
  width: 100%;
}

.giscus-frame {
  border: none;
}


// Printing

@media print {
  a[href]:after {
    display: none;
    visibility: hidden;
  }
}

@media print {
  @page { margin: 5rem 6rem 3rem; }
}
